<html>
<head>
    <meta charset="utf-8">
    <title>Datepicker demo</title>

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body ng-app="demo">
    <div ng-controller="DemoController" class='row' style='margin-top: 50px'>
        <form name="dem">
            <div class='col-md-4 col-md-offset-2'>
                <div class='form-group'>
                    <!-- ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" -->
                    <ya-datepicker name='someDate' ng-model='model.datum' minimum='model.minDate' maximum='model.maxDate'></ya-datepicker>
                 </div>
                 <div ng-if="dem.someDate.$error.validDate">That's invalid</div>
                 <div ng-if="dem.someDate.$error.laterThanStart">that's before the start date</div>
                 <div ng-if="dem.someDate.$error.earlierThanEnd">that's after the end date</div>
            </div>

            <div class='col-md-4'>
                {{model.datum}}
            </div>
        </form>
    </div>

    <div ng-controller="RangeController" class='row' style='margin-top: 50px'>
        <form name="dem">
            <div class='col-md-4 col-md-offset-2'>
                <div class='form-group'>
                    <ya-datepicker name='oneDate' ng-model='model.startDate' minimum='model.minDate' maximum='model.endDate'></ya-datepicker>
                 </div>
                 <div ng-if="dem.oneDate.$error.validDate">That's invalid</div>
                 <div ng-if="dem.oneDate.$error.laterThanStart">that's before the start date</div>
                 <div ng-if="dem.oneDate.$error.earlierThanEnd">that's after the end date</div>
            </div>

            <div class='col-md-4'>
                <div class='form-group'>
                    <ya-datepicker name='otherDate' ng-model='model.endDate' minimum='model.startDate' maximum='model.maxDate'></ya-datepicker>
                 </div>
                 <div ng-if="dem.otherDate.$error.validDate">That's invalid</div>
                 <div ng-if="dem.otherDate.$error.laterThanStart">that's before the start date</div>
                 <div ng-if="dem.otherDate.$error.earlierThanEnd">that's after the end date</div>
            </div>

            <div class='col-md-2'>
                {{model.datum}}
            </div>
        </form>
    </div>


    <script src="../yaDatepicker.js"></script>
    <script>


        var demo = angular.module('demo', ['datepicker']);

        demo.controller('DemoController', function($scope) {
            $scope.model = {
                datum: moment(),
                minDate: moment().subtract(1, 'years'),
                maxDate: moment().add(1, 'years')
            };
        });

        demo.controller('RangeController', function($scope) {
            $scope.model = {
                startDate: moment(),
                endDate: moment(),
                minDate: moment().subtract(20, 'years'),
                maxDate: moment().add(20, 'years')
            };
        });

    </script>
</body>
</html>
